:root {
    --main-text-color:color: #18191F;
    --primary-mainbutton-bgcolor: #8C30F5;
    --primary-button-color: #ffffff;

    --base-font: normal 14px "Manrop-Regular", sans-serif; 
    --heading-font: normal 40px "Manrope-ExtraBold", sans-serif;
    
    --base-gap-s: 8px;
    --base-gap-m: 16px;
    --base-gap-l: 32px;
}
body {
     
    font: var(--base-font);
    color: var(--main-text-color);
    box-sizing: border-box;
}
h1, h2, h3, p {
    margin: 0;
}
.container {
   background-color: brown; 
   margin: 0 auto;
   width: 1110px;
   padding: 0;

}
.discover-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
        
}
.discover-wrapper__item {
    box-sizing: border-box;
    width: 255px;
    height: 200px;
    padding: 24px;
    background-color: orange;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
}
img {
    width: 32px;
    height: 32px;
}